@font-face {
    font-family: 'Zaslia';
    src: url('Zaslia.woff2') format('woff2'),
        url('Zaslia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

