@import '@fontsource/montserrat/latin.css'; /* o latin-ext, full depende lo que necesites */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Oculta la barra sin desactivar el scroll */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  background-color: #0c0c0d;
  /* background-color: #050706; */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}



@font-face {
    font-family: 'SuisseIntl';
    src: url('/Fonts/SuisseIntl-Regular/SuisseIntl-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'FuturaBook';
    src: url('/Fonts/Futura/FuturaCyrillicBook.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  
@font-face {
    font-family: 'OvercameDemo';
    src: url('/Fonts/Outline/OvercameDemoOutline.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: 'Aurora';
  src: url('/Fonts/Aurora/Aurora.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zaslia';
  src: url('/Fonts/Zaslia/Zaslia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/Fonts/Bebas/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/Fonts/InterVariable/IInter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/Fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
  font-weight: 400;
}


.font-details {
  font-feature-settings: "liga" 1, "calt" 1, "kern" 1;
  font-variant-ligatures: discretionary-ligatures;
}


  h1, .titulo-animado {
    overflow: hidden;
    display: inline-block;
    padding: 1vh;
  }


  .titulo-animado span {
    display: inline-block;
    will-change: transform;
  }
  
  .stroke-text {
    color: transparent;
    -webkit-text-stroke: 1px white;
    /* Opcional: mejora la legibilidad */
    text-shadow: none;
  }

  #fotoStack.is-scrolling > div { transition: none !important; }
  
/* Añadir esta parte a tu archivo CSS */

.gsap-marker-start,
.gsap-marker-end,
.gsap-marker-scroller-start,
.gsap-marker-scroller-end {
  position: fixed !important;
  z-index: 2147483647 !important;
  pointer-events: none !important;
  mix-blend-mode: normal !important;
}