---
import Layout from "../layouts/Layout.astro";
import Loader from "../components/React/Loader/Loader";
import HeaderSecciones from "../components/React/Navbar/HeaderSecciones";
import MyStats from "../components/MyStats.astro";
import Home from "../components/Home.astro";
import AboutMe from "../components/AboutMe.astro";
import MyExperience from "../components/MyExperience.astro";
import MySkills from "../components/MySkills.astro";
import ContactMe from "../components/ContactMe.astro";
import Footer from "../components/Footer.astro";
import MyEducation from "../components/MyEducation.astro";
import AboutTwo from "../components/AboutTwo.astro";
import Works from "../components/Works.astro";
---

<!-- <Loader client:load /> -->
<Layout>
  <Home />
  <section id="sobre-mi" class="scroll-mt-20">
    <AboutMe />
  </section>
  <section id="estudios" class="scroll-mt-20">
    <MyEducation />
  </section>
    <section id="experiencia" class="scroll-mt-20">
      <MyExperience />
    </section>
    <section id="skills" class="scroll-mt-20">
      <MySkills/>
    </section> 
    <section id="trabajos" class="scroll-mt-20 mt-72">
      <Works />
    </section>

    <section id="contactame" class="scroll-mt-20">
      <ContactMe />
    </section>
  <Footer />
</Layout>
