---
import ContactFormReact from '../components/React/FormContact/ContactFormReact';
---

<section class="text-white px-72 py-20">
  <div>
<div class="flex justify-end">
  <h1 class="text-9xl font-Zaslia text-[#BD5B2D] m-0 leading-none">
    CoNTACTAME
  </h1>
</div>

<div class="flex justify-end">
  
  <p class="text-base text-end w-[40vw] font-extralight m-0 leading-none -mt-6 p-4 text-stone-200 font-FuturaBook">
    ¿TE <span class="font-bold">GUSTO ALGO</span>? ¿SENTÍS QUE PODRIAMOS <span class="font-bold">CREAR ALGO JUNTOS</span>? NO LO PIENSES 
    TANTO, ESCRIBIME. LAS COSAS QUE VALEN LA PENA, SE CONSTRUYEN DANDO EL PRIMER PASO.
  </p>
</div>

 <ContactFormReact client:load />

  </div>
</section>
