<footer class="bg-[#080808] text-white px-8 py-12 font-montserrat">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">

    <div>
      <h2 class="text-2xl font-semibold">Torres Laureano</h2>
      <p class="text-sm mt-2 text-stone-400">
        Siempre disponible para proyectos <br />
        independientes y/o grupales, innovar y desarrollar
      </p>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2">Contactame</h2>
      <ul class="text-sm text-stone-400 space-y-1">
        <li>Recreo, Santa Fe, Argentina</li>
        <li>laureano26112001@hotmail.com</li>
        <li>+54 9 342 501-7854</li>
      </ul>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-2">Redes</h2>
      <ul class="flex space-x-4">
        <li>
          <a href="https://github.com/latorresgh" target="_blank" class="hover:text-[#BD5B2D] transition">
            GitHub
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/laureano-torres-4872a7296/" target="_blank" class="hover:text-[#BD5B2D] transition">
            LinkedIn
          </a>
        </li>
      </ul>
    </div>

  </div>

  <!-- Línea inferior -->
  <div class="mt-12 text-center text-xs text-stone-600">
    © 2025 Torres Laureano — Todos los derechos reservados
  </div>
</footer>
