---
import ZoomBackground from "../components/React/Home/ZoomBackground.tsx";
import CenterTittle from "../components/React/Home/Tittle.tsx";
import Header from "../components/React/Home/Header.tsx";
import Secciones from "../components/React/Home/SectionsList.tsx";
---

<section
  id="inicio"
  class="relative bg-cover bg-no-repeat min-h-screen bg-[#050505]"
>
  <ZoomBackground client:load>
    <Header />
    <CenterTittle />
    <Secciones />
  </ZoomBackground>
</section>
