---
import EducationTimeline from '../components/React/EducationTimeLine/EducationTimeLine';
---


<section class="w-full mb-24 text-white ">
<h1 class="font-Zaslia text-[4rem] w-full text-center mb-24 text-[#BD5B2D]">
  EDUCACIÓN
</h1>


  <EducationTimeline client:only="react" />

</section>
