---
import EducationTimeline from '../components/React/EducationTimeLine/EducationTimeLine';
---


<section class="w-full mb-24 text-white">
<h1 class="font-Zaslia text-6xl md:text-8xl w-full text-center mb-24">
  EDUCACIÓN
</h1>


  <EducationTimeline client:load />
</section>
