---
import ExperienceHorizontal from "./React/ExperienceHorizontal/ExperienceHorizontal.tsx";
---


<section class="relative w-full">
  <!-- Título encima -->
  <h1 class="absolute top-[-90px] left-1/2 -translate-x-1/2 text-white text-[19.8rem] font-Zaslia m-0 leading-none z-20">
    Formación
  </h1>
  <!-- Carrusel -->
  <ExperienceHorizontal client:load />

</section>