---
import ProjectsGridParallax from './React/ProjectsGridParallax/ProjectsGridParallax';
import type { Project } from './React/ProjectsGridParallax/ProjectsGridParallax.tsx';

const projects: Project[] = [
  { title: 'Proyecto Principal', year: '2025', image: '/Imagenes/Experience/StickeandoLayout.webp', featured: true, speed: 0.25 },
  { title: 'Proyecto 2', year: '2024', image: '/Imagenes/Experience/Experiencia7.webp', speed: 0.30 },
  { title: 'Proyecto 3', year: '2024', image: '/Imagenes/Experience/Experiencia2.webp', speed: 0.30 },
  { title: 'Proyecto 4', year: '2023', image: '/Imagenes/Experience/Experiencia4.webp', speed: 0.35 },
  { title: "", addPlaceholder: true, year: '', href: '/nuevo-proyecto' }

];
---
    <div class="text-center ">
      <h2 class="font-Zaslia text-[#BD5B2D] text-[5rem] leading-none">Trabajos</h2>
    </div>

<ProjectsGridParallax projects={projects} client:only="react" />

