<div class="text-white flex items-center justify-center gap-24">
    
  <div class="flex items-center">
    <span class="text-6xl m-2 font-bold">1</span>
    <div class="flex flex-col items-left">
      <p class="font-extralight font-montserrat text-left">Años de</p>
      <p class="font-extralight font-montserrat">experiencia</p>
    </div>
  </div>

  <div class="flex items-center">
    <span class="text-6xl m-2 font-bold">+2</span>
    <div class="flex flex-col items-left">
      <p class="font-extralight font-montserrat">Clientes</p>
      <p class="font-extralight font-montserrat">actualmente</p>
    </div>
  </div>

  <div class="flex items-center">
    <span class="text-6xl m-2 font-bold">4</span>
    <div class="flex flex-col items-left">
      <p class="font-extralight font-montserrat text-left">Proyectos</p>
      <p class="font-extralight font-montserrat">realizados</p>
    </div>
  </div>
</div>
