---
import ExperienceHorizontal from "./React/ExperienceHorizontal/ExperienceHorizontal.tsx";
---


<section class="relative w-full ">
  <!-- Título encima -->
  <h1
  class="absolute top-[-60px] sm:top-[-75px] md:top-[-90px] 
         left-1/2 -translate-x-1/2 
         text-[#BD5B2D] 
         text-[5.5rem] sm:text-[8rem] md:text-[12.8rem]  <!-- 👈 escalado -->
         font-Zaslia m-0 leading-none z-20"
>
    SERVICIOS
  </h1>
  <!-- Carrusel -->
  <ExperienceHorizontal client:load />

</section>