---
import ExperienceHorizontal from "./React/ExperienceHorizontal/ExperienceHorizontal.tsx";
---


<section class="relative w-full ">
  <!-- Título encima -->
  <h1 class="absolute top-[-90px] left-1/2 -translate-x-1/2 text-[#BD5B2D] text-[12.8rem] font-Zaslia m-0 leading-none z-20">
    SERVICIOS
  </h1>
  <!-- Carrusel -->
  <ExperienceHorizontal client:load />

</section>